node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
/.settings
/.project
/.buildpath
/composer.phar
/vendor
/nbproject
.vagrant
Vagrantfile
.php_cs.cache
composer.lock
.phpunit.result.cache
*.bak
demo.php
*Zone.Identifier
Temp
*.pdf
*.pfx

/tests/e2e/videos/
/tests/e2e/screenshots/
/cypress/videos/
/cypress/screenshots/


# local env files
.env.local
.env.*.local

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
