parameters:
	ignoreErrors:
		-
			message: '#^Class LSNepomuceno\\LaravelA1PdfSign\\Exceptions\\InvalidX509PrivateKeyException referenced with incorrect case\: LSNepomuceno\\LaravelA1PdfSign\\Exceptions\\Invalidx509PrivateKeyException\.$#'
			identifier: class.nameCase
			count: 2
			path: src/Certificates/CertificateParser.php

		-
			message: '#^Parameter \$data of class LSNepomuceno\\LaravelA1PdfSign\\Data\\Certificate constructor expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Certificates/CertificateParser.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: src/Certificates/CertificateParser.php

		-
			message: '#^Class LSNepomuceno\\LaravelA1PdfSign\\Exceptions\\InvalidX509PrivateKeyException referenced with incorrect case\: LSNepomuceno\\LaravelA1PdfSign\\Exceptions\\Invalidx509PrivateKeyException\.$#'
			identifier: class.nameCase
			count: 1
			path: src/Certificates/CertificateVault.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: src/Certificates/CertificateVault.php

		-
			message: '#^Parameter \#1 \$parsed of method LSNepomuceno\\LaravelA1PdfSign\\Certificates\\NativeCertificateReader\:\:toPem\(\) expects array\{cert\?\: string, pkey\?\: string, extracerts\?\: array\<int, string\>\}, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Certificates/NativeCertificateReader.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: src/Certificates/NativeCertificateReader.php

		-
			message: '#^Only booleans are allowed in &&, string\|null given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: src/Commands/SignPdfCommand.php

		-
			message: '#^Only booleans are allowed in a negated boolean, string\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Commands/SignPdfCommand.php

		-
			message: '#^Parameter \#1 \$fileName of method LSNepomuceno\\LaravelA1PdfSign\\Commands\\SignPdfCommand\:\:defineFileName\(\) expects string\|null, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/SignPdfCommand.php

		-
			message: '#^Parameter \#1 \$pfxPath of method LSNepomuceno\\LaravelA1PdfSign\\Contracts\\A1PdfSign\:\:signFromFile\(\) expects string, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/SignPdfCommand.php

		-
			message: '#^Parameter \#2 \$password of method LSNepomuceno\\LaravelA1PdfSign\\Contracts\\A1PdfSign\:\:signFromFile\(\) expects string, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/SignPdfCommand.php

		-
			message: '#^Parameter \#3 \$pdfPath of method LSNepomuceno\\LaravelA1PdfSign\\Contracts\\A1PdfSign\:\:signFromFile\(\) expects string, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/SignPdfCommand.php

		-
			message: '#^Parameter \#1 \$pdfPath of method LSNepomuceno\\LaravelA1PdfSign\\Contracts\\A1PdfSign\:\:validate\(\) expects string, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/ValidatePdfSignatureCommand.php

		-
			message: '#^Using nullsafe property access "\?\-\>commonName" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Commands/ValidatePdfSignatureCommand.php

		-
			message: '#^Method LSNepomuceno\\LaravelA1PdfSign\\Data\\BaseData\:\:toArray\(\) should return array\<string, mixed\> but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Data/BaseData.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: src/Data/SignatureReport.php

		-
			message: '#^Parameter \#1 \$source of static method LSNepomuceno\\LaravelA1PdfSign\\Data\\Signer\:\:string\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 4
			path: src/Data/Signer.php

		-
			message: '#^Parameter \$issuer of class LSNepomuceno\\LaravelA1PdfSign\\Data\\Signer constructor expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Data/Signer.php

		-
			message: '#^Parameter \$subject of class LSNepomuceno\\LaravelA1PdfSign\\Data\\Signer constructor expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Data/Signer.php

		-
			message: '#^Part \$this\-\>code \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Exceptions/CertificateOutputNotFoundException.php

		-
			message: '#^Part \$this\-\>code \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Exceptions/FileNotFoundException.php

		-
			message: '#^Part \$this\-\>code \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Exceptions/HasNoSignatureOrInvalidPkcs7Exception.php

		-
			message: '#^Part \$this\-\>code \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Exceptions/InvalidCertificateContentException.php

		-
			message: '#^Part \$this\-\>code \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Exceptions/InvalidImageDriverException.php

		-
			message: '#^Part \$this\-\>code \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Exceptions/InvalidPFXException.php

		-
			message: '#^Part \$this\-\>code \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Exceptions/InvalidPdfFileException.php

		-
			message: '#^Part \$this\-\>code \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Exceptions/InvalidPdfSignModeTypeException.php

		-
			message: '#^Part \$this\-\>code \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Exceptions/InvalidX509PrivateKeyException.php

		-
			message: '#^Part \$this\-\>code \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Exceptions/ProcessRunTimeException.php

		-
			message: '#^Parameter \#1 \$value of static method LSNepomuceno\\LaravelA1PdfSign\\Enums\\FontSize\:\:resolve\(\) expects LSNepomuceno\\LaravelA1PdfSign\\Enums\\FontSize\|string, LSNepomuceno\\LaravelA1PdfSign\\Enums\\FontSize\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Seal/InterventionSealRenderer.php

		-
			message: '#^Parameter \#1 \$value of static method LSNepomuceno\\LaravelA1PdfSign\\Enums\\ImageDriver\:\:tryFrom\(\) expects int\|string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Seal/InterventionSealRenderer.php

		-
			message: '#^Parameter \#2 \$length of function str_split expects int\<1, max\>, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Seal/InterventionSealRenderer.php

		-
			message: '#^Call to function base64_decode\(\) requires parameter \#2 to be set\.$#'
			identifier: function.strict
			count: 1
			path: src/Sign/ManageCert.php

		-
			message: '#^Class LSNepomuceno\\LaravelA1PdfSign\\Exceptions\\InvalidX509PrivateKeyException referenced with incorrect case\: LSNepomuceno\\LaravelA1PdfSign\\Exceptions\\Invalidx509PrivateKeyException\.$#'
			identifier: class.nameCase
			count: 1
			path: src/Sign/ManageCert.php

		-
			message: '#^Method LSNepomuceno\\LaravelA1PdfSign\\Sign\\ManageCert\:\:makeDebugCertificate\(\) should return array\{string, string\}\|static\(LSNepomuceno\\LaravelA1PdfSign\\Sign\\ManageCert\) but returns LSNepomuceno\\LaravelA1PdfSign\\Sign\\ManageCert\.$#'
			identifier: return.type
			count: 1
			path: src/Sign/ManageCert.php

		-
			message: '#^Parameter \#1 \$pfxContents of method LSNepomuceno\\LaravelA1PdfSign\\Contracts\\CertificateReader\:\:read\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Sign/ManageCert.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Signing/Cades/CadesBuilder.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: src/Signing/Cades/CadesBuilder.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 3
			path: src/Signing/Cades/HttpTransport.php

		-
			message: '#^Only booleans are allowed in a negated boolean, int\<0, max\>\|false given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Signing/Incremental/ByteRangeCalculator.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Signing/Incremental/DocTimeStampWriter.php

		-
			message: '#^Only numeric types are allowed in \+, int\<0, max\>\|false given on the left side\.$#'
			identifier: plus.leftNonNumeric
			count: 1
			path: src/Signing/Incremental/DocTimeStampWriter.php

		-
			message: '#^Only booleans are allowed in &&, int\|false given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: src/Signing/Incremental/DocumentReader.php

		-
			message: '#^Only booleans are allowed in a negated boolean, int\<0, max\>\|false given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Signing/Incremental/DocumentReader.php

		-
			message: '#^Only booleans are allowed in an if condition, int\|false given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: src/Signing/Incremental/DocumentReader.php

		-
			message: '#^Parameter \#1 \$array \(list\<string\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Signing/Incremental/DssWriter.php

		-
			message: '#^Only booleans are allowed in a negated boolean, int\|false given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Signing/Incremental/RevisionWriter.php

		-
			message: '#^Only booleans are allowed in an if condition, int\|false given\.$#'
			identifier: if.condNotBoolean
			count: 2
			path: src/Signing/Incremental/RevisionWriter.php

		-
			message: '#^Only numeric types are allowed in \+, int\<0, max\>\|false given on the left side\.$#'
			identifier: plus.leftNonNumeric
			count: 1
			path: src/Signing/IncrementalSigner.php

		-
			message: '#^Parameter \#1 \$pfxContents of method LSNepomuceno\\LaravelA1PdfSign\\Contracts\\CertificateReader\:\:read\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Signing/PendingSignature.php

		-
			message: '#^Method LSNepomuceno\\LaravelA1PdfSign\\Testing\\DebugCertificate\:\:make\(\) should return array\{string, string\} but returns array\{mixed, ''example\\''s password…''\}\.$#'
			identifier: return.type
			count: 1
			path: src/Testing/DebugCertificate.php

		-
			message: '#^Parameter \#1 \$csr of function openssl_csr_sign expects OpenSSLCertificateSigningRequest\|string, OpenSSLCertificateSigningRequest\|true given\.$#'
			identifier: argument.type
			count: 1
			path: src/Testing/DebugCertificate.php

		-
			message: '#^Parameter \#3 \$private_key of function openssl_csr_sign expects array\|OpenSSLAsymmetricKey\|OpenSSLCertificate\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Testing/DebugCertificate.php

		-
			message: '#^Parameter \#3 \$private_key of function openssl_pkcs12_export expects array\|OpenSSLAsymmetricKey\|OpenSSLCertificate\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Testing/DebugCertificate.php

		-
			message: '#^Only booleans are allowed in a negated boolean, int\<0, max\>\|false given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Validation/PdfSignatureExtractor.php

		-
			message: '#^Method LSNepomuceno\\LaravelA1PdfSign\\Validation\\Pkcs7Reader\:\:parsedCertificates\(\) should return list\<array\<string, mixed\>\> but returns list\<array\>\.$#'
			identifier: return.type
			count: 1
			path: src/Validation/Pkcs7Reader.php

		-
			message: '#^Parameter \#1 \$path of static method Illuminate\\Support\\Facades\\File\:\:exists\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/CertificatesTest.php

		-
			message: '''
				#^Call to deprecated method makeDebugCertificate\(\) of class LSNepomuceno\\LaravelA1PdfSign\\Sign\\ManageCert\:
				2\.0 Use \{@see DebugCertificate\:\:make\(\)\}\. Removed in 3\.0\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: tests/DataTest.php

		-
			message: '#^Call to an undefined static method LSNepomuceno\\LaravelA1PdfSign\\Facades\\A1PdfSign\:\:newSignature\(\)\.$#'
			identifier: staticMethod.notFound
			count: 7
			path: tests/DssTest.php

		-
			message: '#^Cannot access offset 2 on array\{string, numeric\-string, numeric\-string, numeric\-string\}\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/DssTest.php

		-
			message: '#^Cannot access offset 3 on array\{string, numeric\-string, numeric\-string, numeric\-string\}\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/DssTest.php

		-
			message: '#^Parameter \#1 \$pdf of method LSNepomuceno\\LaravelA1PdfSign\\Signing\\Incremental\\DocumentReader\:\:read\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: tests/DssTest.php

		-
			message: '#^Parameter \#1 \$pdf of method LSNepomuceno\\LaravelA1PdfSign\\Signing\\Incremental\\RevisionWriter\:\:appendObjects\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/DssTest.php

		-
			message: '#^Parameter \#1 \$pdf of method LSNepomuceno\\LaravelA1PdfSign\\Signing\\Incremental\\RevisionWriter\:\:catalogWithDss\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/DssTest.php

		-
			message: '#^Parameter \#1 \$string of function strlen expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/DssTest.php

		-
			message: '#^Parameter \#2 \$subject of function preg_match_all expects string, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: tests/DssTest.php

		-
			message: '''
				#^Call to deprecated method makeDebugCertificate\(\) of class LSNepomuceno\\LaravelA1PdfSign\\Sign\\ManageCert\:
				2\.0 Use \{@see DebugCertificate\:\:make\(\)\}\. Removed in 3\.0\.$#
			'''
			identifier: method.deprecated
			count: 4
			path: tests/ManageCertTest.php

		-
			message: '#^Cannot use array destructuring on array\|LSNepomuceno\\LaravelA1PdfSign\\Sign\\ManageCert\.$#'
			identifier: offsetAccess.nonArray
			count: 1
			path: tests/ManageCertTest.php

		-
			message: '#^Dynamic call to static method Illuminate\\Encryption\\Encrypter\:\:supported\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: tests/ManageCertTest.php

		-
			message: '''
				#^Fetching deprecated class constant CIPHER of class LSNepomuceno\\LaravelA1PdfSign\\Sign\\ManageCert\:
				2\.0 Use \{@see CertificateVault\:\:CIPHER\}\.$#
			'''
			identifier: classConstant.deprecated
			count: 1
			path: tests/ManageCertTest.php

		-
			message: '#^Parameter \#1 \$path of static method Illuminate\\Support\\Facades\\File\:\:exists\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/ManageCertTest.php

		-
			message: '#^Parameter \#1 \$paths of static method Illuminate\\Support\\Facades\\File\:\:delete\(\) expects array\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/ManageCertTest.php

		-
			message: '#^Parameter \#1 \$pfxPath of method LSNepomuceno\\LaravelA1PdfSign\\Sign\\ManageCert\:\:fromPfx\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/ManageCertTest.php

		-
			message: '#^Parameter \#2 \$password of method LSNepomuceno\\LaravelA1PdfSign\\Sign\\ManageCert\:\:fromPfx\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/ManageCertTest.php

		-
			message: '#^Access to an undefined property Pest\\Mixins\\Expectation\<mixed\>\:\:\$not\.$#'
			identifier: property.notFound
			count: 1
			path: tests/PadesTest.php

		-
			message: '#^Call to an undefined static method LSNepomuceno\\LaravelA1PdfSign\\Facades\\A1PdfSign\:\:newSignature\(\)\.$#'
			identifier: staticMethod.notFound
			count: 6
			path: tests/PadesTest.php

		-
			message: '#^Offset 1 might not exist on array\{\}\|array\{non\-falsy\-string, non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 3
			path: tests/PadesTest.php

		-
			message: '#^Only booleans are allowed in a ternary operator condition, int\<0, 1\> given\.$#'
			identifier: ternary.condNotBoolean
			count: 1
			path: tests/PadesTest.php

		-
			message: '#^Parameter \#1 \$pdf of closure expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/PadesTest.php

		-
			message: '#^Parameter \#2 \$subject of function preg_match expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/PadesTest.php

		-
			message: '''
				#^Call to deprecated method makeDebugCertificate\(\) of class LSNepomuceno\\LaravelA1PdfSign\\Sign\\ManageCert\:
				2\.0 Use \{@see DebugCertificate\:\:make\(\)\}\. Removed in 3\.0\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: tests/Pest.php

		-
			message: '#^Function debugCertificate\(\) should return array\{string, string\} but returns array\|LSNepomuceno\\LaravelA1PdfSign\\Sign\\ManageCert\.$#'
			identifier: return.type
			count: 1
			path: tests/Pest.php

		-
			message: '#^Access to an undefined property Pest\\Mixins\\Expectation\<mixed\>\:\:\$not\.$#'
			identifier: property.notFound
			count: 2
			path: tests/SealTest.php

		-
			message: '#^Call to an undefined static method LSNepomuceno\\LaravelA1PdfSign\\Facades\\A1PdfSign\:\:newSignature\(\)\.$#'
			identifier: staticMethod.notFound
			count: 3
			path: tests/SealTest.php

		-
			message: '#^Parameter \#1 \$filename of function unlink expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/SealTest.php

		-
			message: '#^Parameter \#1 \$pdfPath of static method LSNepomuceno\\LaravelA1PdfSign\\Facades\\A1PdfSign\:\:validate\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/SealTest.php

		-
			message: '#^Method LSNepomuceno\\LaravelA1PdfSign\\Contracts\\A1PdfSign@anonymous/tests/ServiceTest\.php\:67\:\:encryptCertificate\(\) has parameter \$path with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: tests/ServiceTest.php

		-
			message: '#^Method LSNepomuceno\\LaravelA1PdfSign\\Contracts\\A1PdfSign@anonymous/tests/ServiceTest\.php\:67\:\:signFromFile\(\) has parameter \$mode with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: tests/ServiceTest.php

		-
			message: '#^Method LSNepomuceno\\LaravelA1PdfSign\\Contracts\\A1PdfSign@anonymous/tests/ServiceTest\.php\:67\:\:signFromUpload\(\) has parameter \$mode with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: tests/ServiceTest.php

		-
			message: '#^Method LSNepomuceno\\LaravelA1PdfSign\\Contracts\\A1PdfSign@anonymous/tests/ServiceTest\.php\:67\:\:signFromUpload\(\) has parameter \$upload with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: tests/ServiceTest.php

		-
			message: '#^Call to an undefined static method LSNepomuceno\\LaravelA1PdfSign\\Facades\\A1PdfSign\:\:newSignature\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: tests/SigningIncrementalTest.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: tests/SigningIncrementalTest.php

		-
			message: '#^Parameter \#1 \$filename of function file_get_contents expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/SigningIncrementalTest.php

		-
			message: '#^Parameter \#1 \$filename of function unlink expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/SigningIncrementalTest.php

		-
			message: '#^Parameter \#1 \$pdf of method LSNepomuceno\\LaravelA1PdfSign\\Signing\\Incremental\\DocumentReader\:\:read\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/SigningIncrementalTest.php

		-
			message: '#^Parameter \#1 \$pdfContents of method LSNepomuceno\\LaravelA1PdfSign\\Signing\\IncrementalSigner\:\:sign\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 4
			path: tests/SigningIncrementalTest.php

		-
			message: '#^Parameter \#1 \$string of function strlen expects string, string\|false given\.$#'
			identifier: argument.type
			count: 5
			path: tests/SigningIncrementalTest.php

		-
			message: '#^Parameter \#2 \$subject of function preg_match_all expects string, string\|false given\.$#'
			identifier: argument.type
			count: 3
			path: tests/SigningIncrementalTest.php

		-
			message: '#^Call to an undefined static method LSNepomuceno\\LaravelA1PdfSign\\Facades\\A1PdfSign\:\:newSignature\(\)\.$#'
			identifier: staticMethod.notFound
			count: 3
			path: tests/ValidationTest.php

		-
			message: '#^Function signedOnce\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: tests/ValidationTest.php

		-
			message: '#^Parameter \#1 \$filename of function unlink expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/ValidationTest.php

		-
			message: '#^Parameter \#1 \$pdfContents of method LSNepomuceno\\LaravelA1PdfSign\\Contracts\\SignatureValidator\:\:validate\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/ValidationTest.php

		-
			message: '#^Parameter \#1 \$pdfContents of method LSNepomuceno\\LaravelA1PdfSign\\Contracts\\SignatureValidator\:\:validate\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/ValidationTest.php
